<article class="card doc max-width-reset">
  {{> toolbar}}
  {{#with page.title}}
    <h1 class="page">{{{this}}}</h1>
  {{/with}}
  {{#if (ne page.component.latest.asciidoc.attributes.remove-sidenav undefined)}}
    {{#if (and (eq page.module 'ROOT') (eq page.relativeSrcPath (or (extractKey (siteStartPage) 'asciidoc.attributes.page-relative-src-path') 'index.adoc')))}}
      {{> nav-tree-plain navigation=page.navigation}}
    {{/if}}
  {{/if}}
  {{{page.contents}}}
  <div class="edit-this-page">
    {{#if (and page.fileUri (not env.CI))}}
      <a href="{{page.fileUri}}">Edit this Page</a>
    {{else if (and page.editUrl (or env.FORCE_SHOW_EDIT_PAGE_LINK (not page.origin.private)))}}
      <a href="{{page.editUrl}}">Edit this Page</a>
    {{/if}}
  </div>
  {{> pagination}}
</article>
